{
  "openapi": "3.0.3",
  "info": {
    "title": "Sample University LMS API",
    "version": "1.0.0",
    "description": "Portfolio sample API for an LMS. Endpoints let you list courses, enroll, and view a learner record."
  },
  "servers": [{ "url": "https://api.sampleuniversity.edu/v1" }],
  "tags": [{ "name": "Courses" }, { "name": "Enrollment" }, { "name": "Me" }],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "default": 1 }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "invalid_request" },
          "message": { "type": "string", "example": "page_size must be <= 100" },
          "request_id": { "type": "string", "example": "req_abc123" },
          "status": { "type": "integer", "example": 400 }
        }
      },
      "Course": {
        "type": "object",
        "required": ["id", "title", "delivery"],
        "properties": {
          "id": { "type": "string", "example": "crs_123" },
          "title": { "type": "string", "example": "Information Security Basics" },
          "description": { "type": "string" },
          "delivery": { "type": "string", "enum": ["eLearning", "Live", "Video", "Document"] },
          "rating": { "type": "number", "format": "float", "minimum": 0, "maximum": 5 },
          "duration_minutes": { "type": "integer", "minimum": 0 },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CourseList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Course" } },
          "page": { "type": "integer" },
          "page_size": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "EnrollmentRequest": {
        "type": "object",
        "properties": { "attempt": { "type": "string", "example": "first" } }
      },
      "Enrollment": {
        "type": "object",
        "properties": {
          "enrollment_id": { "type": "string", "example": "enr_987" },
          "course_id": { "type": "string", "example": "crs_123" },
          "status": { "type": "string", "enum": ["enrolled", "waitlisted", "cancelled"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "RecordItem": {
        "type": "object",
        "properties": {
          "course_id": { "type": "string" },
          "status": { "type": "string", "enum": ["in_progress", "completed", "cancelled"] },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true },
          "certificate_url": { "type": "string", "format": "uri", "nullable": true }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/courses": {
      "get": {
        "tags": ["Courses"],
        "summary": "List courses",
        "description": "Filter and paginate courses available in the library.",
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" }, "description": "Keyword search" },
          { "name": "delivery", "in": "query", "schema": { "type": "string", "enum": ["eLearning", "Live", "Video", "Document"] } },
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PageSize" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CourseList" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/courses/{id}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get a course",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Course" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/courses/{id}/enroll": {
      "post": {
        "tags": ["Enrollment"],
        "summary": "Enroll current user in a course",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Enrollment" } } }
          },
          "409": {
            "description": "Already enrolled",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/me/record": {
      "get": {
        "tags": ["Me"],
        "summary": "Get current user's learning record",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/RecordItem" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
  }
}
